.idea
/.idea
.idea/
.vscode
.pytest_cache
.cache
.DS_Store
__pycache__
=
allure-report
allure-results
apps
assets
Application/__pycache__
Screens/__pycache__
Tests/__pycache__
Credentials
screen-shots
webdriver
notes.txt
report.html
